.settings
/Debug/*
/Drivers/*
/FATFS/*
/libs/*
/Middlewares/*
/USB_HOST/*
.*
!.gitignore
*.launch
*.ioc
*.ld
/Core/Inc/*
!/Core/Inc/cnn.h
/Core/Src/*
!/Core/Src/main.c
!/Core/Src/cnn.c
/Core/Startup
*.exe
*.o